html,
body,
#root,
.App {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background: linear-gradient(33deg, rgb(146, 51, 122), rgb(3, 72, 159));
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
